resources/LWIntgrService0.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://schemas.datacontract.org/2004/07/Brierley.LoyaltyWare.LWIntegrationSvc" xmlns:tns="urn:Brierley.LoyaltyWare.LWIntegrationSvc" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Brierley.LoyaltyWare.LWIntegrationSvc">
    <xs:import namespace="http://schemas.datacontract.org/2004/07/Brierley.LoyaltyWare.LWIntegrationSvc" schemaLocation="LWIntgrService2.xsd"/>
    <xs:element name="Execute">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="source" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="sourceEnv" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="payload" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExecuteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ExecuteResult" nillable="true" type="ns0:LWAPIResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
